.user-list-header, .user-info-header {
    font-size: 48px;
}

.user-listing {
    font-size: 20px;
}

.user-info {
}

.user-info-table > tr > td:first-child{
    padding: 2px 4px;
}

.user-info-table > tr:nth-child(odd) {
    background-color: #f1f1f1;
}

.user-info-table {
    border: 1px solid #efefef;
    border-top: none;
    width: 100%;
    margin: 0 auto;
}

.user-info-table > tr > td {
    text-align: center;
}